#
# General
#

# Turn off shortcut inhibition for the focused window
bindsym --inhibited $mod+Escape shortcuts_inhibitor disable
bindsym --inhibited $mod+Shift+Escape shortcuts_inhibitor enable

bindsym $mod+Shift+q kill
bindsym $mod+Shift+c reload
bindsym Ctrl+Alt+l exec $lockCommand

# Function keys

bindsym XF86AudioRaiseVolume exec pactl set-sink-volume @DEFAULT_SINK@ +5%
bindsym XF86AudioLowerVolume exec pactl set-sink-volume @DEFAULT_SINK@ -5%
bindsym XF86AudioMute exec pactl set-sink-mute @DEFAULT_SINK@ toggle
bindsym XF86AudioMicMute exec pactl set-source-mute @DEFAULT_SOURCE@ toggle
bindsym XF86MonBrightnessDown exec brightnessctl set 5%-
bindsym XF86MonBrightnessUp exec brightnessctl set 5%+
bindsym XF86AudioPlay exec playerctl play-pause
bindsym XF86AudioNext exec playerctl next
bindsym XF86AudioPrev exec playerctl previous

#
# Program shortcuts
#

bindsym $mod+Return exec $terminal
bindsym $mod+o exec $menu

#
# Movement
#

# Move your focus around
bindsym $mod+$left focus left
bindsym $mod+$down focus down
bindsym $mod+$up focus up
bindsym $mod+$right focus right
bindsym $mod+Prior focus parent
bindsym $mod+Next focus child
bindsym $mod+u focus mode_toggle

# Move focus to workspace
bindsym $mod+n exec /opt/sway-workspace-extras/sway-workspace-extras prev
bindsym $mod+m exec /opt/sway-workspace-extras/sway-workspace-extras next

# Move focus to output
bindsym $mod+alt+n focus output left
bindsym $mod+alt+m focus output right

# Move the focused window with the same, but add Shift
bindsym $mod+Shift+$left move left
bindsym $mod+Shift+$down move down
bindsym $mod+Shift+$up move up
bindsym $mod+Shift+$right move right

# Move focused container to workspace
bindsym $mod+Shift+n exec /opt/sway-workspace-extras/sway-workspace-extras move-prev
bindsym $mod+Shift+m exec /opt/sway-workspace-extras/sway-workspace-extras move-next

# Move container to output
bindsym $mod+alt+shift+n move container to output left; focus output left
bindsym $mod+alt+shift+m move container to output right; focus output right

# Scratchpad
bindsym $mod+Shift+i move scratchpad
bindsym $mod+i scratchpad show

#
# Layout
#

bindsym $mod+w layout tabbed
bindsym $mod+e layout toggle split
bindsym $mod+Escape split none
bindsym $mod+Shift+o fullscreen
bindsym $mod+Shift+u floating toggle

#
# Resizing containers
#

mode "resize" {
    # left will shrink the containers width
    # right will grow the containers width
    # up will shrink the containers height
    # down will grow the containers height
    bindsym $left resize shrink width 10px
    bindsym $down resize grow height 10px
    bindsym $up resize shrink height 10px
    bindsym $right resize grow width 10px

    # Ditto, with arrow keys
    bindsym Left resize shrink width 10px
    bindsym Down resize grow height 10px
    bindsym Up resize shrink height 10px
    bindsym Right resize grow width 10px

    # Return to default mode
    bindsym Return mode "default"
    bindsym Escape mode "default"
}
bindsym $mod+Period mode "resize"

#
# One shot workspace commands
#

mode "workspace" {
    bindsym s exec /opt/sway-workspace-extras/sway-workspace-extras shift; mode "default"

    # Return to default mode
    bindsym Return mode "default"
    bindsym Escape mode "default"
}
bindsym $mod+Comma mode "workspace"
