exec swayidle -w \
    timeout 300 '$lockCommand' \
    timeout 310 'swaymsg "output * dpms off"' \
    timeout 10 'if pgrep -x swaylock; then swaymsg "output * dpms off"; fi' \
    resume 'swaymsg "output * dpms on"' \
    before-sleep '$lockCommand'

bar swaybar_command waybar

# Making those environment variables available is required
# by xdg-desktop-portal-wlr.
exec systemctl --user import-environment WAYLAND_DISPLAY XDG_CURRENT_DESKTOP

# Dunst is a notification daemon and requires the DISPLAY
# environment variable to be set. Therefore it is stared
# by the Sway configuration file.
exec /usr/bin/dunst
