# Video playback
# ==============
#
# While watching a video there is no interaction with
# the system. But one doesn't want the screen to get
# locked while watching a video. There is no protocol
# to tell if an application currently plays a video.
# But normally an application is in fullscreen mode
# during playback. Therefore the following rules
# disable the screen lock for some application if
# they are in fullscreen mode.

for_window [class="^firefox$"]  inhibit_idle fullscreen
for_window [app_id="^firefox$"] inhibit_idle fullscreen

#
# Teams in app mode
# =================
#
# If one starts Chromium in the app mode (--app=) it
# inhibits all shortcuts. Therefore we disable it for
# the different hosts used in app mode. See also:
#  * dot_local/share/applications/teams.desktop

for_window [app_id="^chrome-teams.microsoft.com"] shortcuts_inhibitor disable
